<% provide(:title, "About") %>


<!DOCTYPE html>
<!--<html>-->
<!--  <head>-->
<!--    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>-->
<!--  </head>-->
<!--  <body>-->


<h1>About</h1>
<p>
  The <a href="http://railstutorial.jp/"><em>Ruby on Rails Tutorial</em></a>
  is a <a href="http://railstutorial.jp/book">book</a> and
  <a href="http://screencasts.railstutorial.org/">screencast series</a>
  to teach web development with
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  This is the sample application for the tutorial.
</p>
    
    
<!--  </body>-->
<!--</html>-->